#pixel-board {
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 1px solid black;

}

.pixel {
  display: table-cell;
  background-color: white;
  width: 40px;
  height: 40px;
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}


.clear-board {
  margin-left: 50px;
  margin-top: 15px;
  width: 78px;
  height: 29px;
  background-color: blue;
  color: white;
  font-size: "fira-code";
}
