*{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1{
    font-size: 50px;
}

#black {
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
}

#red {
    background-color: red;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    }

#green {
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    } 

#blue {
    background-color: blue;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 50px;
    display: inline-block;
    }

#pixel-board{
    height: 225px;
    width: 225px;
}

.pixel{
     background-color: white;
    border: solid 1px black;
     float: left;
        height: 40px;
        width: 40px;
}