.color {
  border-color: black;
  border-style: solid;
  border-width: 1px;;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

#pixel-board {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  width: 200px;
  height: 200px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
}

