div.color {
  display: inline-block;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.cor1 {
  background-color: black;
}

.cor2 {
  background-color: aqua;
}

.cor3 {
  background-color: crimson;
}

.cor4 {
  background-color: orange;
}
