#pixel-board {
    width: 210px;
    height: 210px;
    border: 1px solid black;
    line-height: 0px;
}
.color {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
div.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255)
}