* {
  box-sizing: border-box;
}

body {
  font-family: 'Amatic SC', cursive;
  display: block;
  background-color: #fbf7f5	;
}

h1 {
  text-align: center;
  font-size: 4em;
  width: fit-content;
  margin: 0 auto;
}


#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 3em;
}

.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;  
  margin: 0.1em;
}

button {
  display: block;
  margin: 1em auto 4em auto;
  padding: 0.5em;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: 1px solid black;
}

button:hover, .color:hover{
  opacity: 50%;
  cursor: pointer;
}

#pixel-board {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: rgb(254 , 200 , 216);
}

#color3 {
  background-color: rgb(255, 223, 211);
}

#color4 {
  background-color: rgb(224, 187, 228);
}