/* deve possuir uma paleta de quatro cores distintas - exercício 2 */
#black {
  background-color: black;
}/* cor preta deve ser a primeira na paleta de cores */
#brown {
  background-color: brown;
}
#blue {
  background-color: blue;
}
#pink {
  background-color: pink;
}
/* paleta de cores deverá listar todas as cores lado a lado, abaixo do título "Paleta de Cores" */
.color {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 40px;
  width: 40px;
}
/* px 40 px 40 px e borda preta de 1 pixel */
