/*Item2*/
.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px black solid;
}
.color1{
  background-color: black;
}
.color2{
  background-color: red;
}
.color3{
  background-color: blue;
}
.color4{
  background-color: green;
}
#color-palette{
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/*Item2*/
#title {
  text-align: center;
}
div {
  border: 2px red solid;
}

/*Item3*/
#pixel-board{
  width: 210px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.pixel{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: -2px;
  background-color: white;
}
/*Item3*/
div .pixel{
  border: 1px black solid;
}
