/* deve possuir uma paleta de quatro cores distintas - exercício 2 */
.paleta-c1 {
  background-color: black;
  border-style: solid;
  border-width: 1px;
  color: black;
  display: inline-block;
  height: 40px;
  width: 40px;
}/* cor preta deve ser a primeira na paleta de cores */
.paleta-c2 {
  background-color: brown;
  border-style: solid;
  border-width: 1px;
  color: brown;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.paleta-c3 {
  background-color: blue;
  border-style: solid;
  border-width: 1px;
  color: blue;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.paleta-c4 {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
  color: pink;
  display: inline-block;
  height: 40px;
  width: 40px;
}/* paleta de cores deverá listar todas as cores lado a lado..."Paleta de Cores" */

#pixel-board {
  display: table;
  line-height: 1px;
  width: 210px;
}/* quadro de "pixels" deve aparecer abaixo da paleta de cores */

.color{
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 40px;
  width: 40px;
}/* px 40 px 40 px e borda preta de 1 pixel */
.pixel {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
}

#white {
  background-color: white;
}
