.backBody {
  background-color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
}

.table1 {
  display: table;
}

.trPalett {
  display: table-row;
}

.color {
  border: 1px solid black;
  border-radius: 1vh;
  display: table-column;
  height: 45px;
  width: 45px;
}

button {
  margin: 6px;
}

.pixel-board {
  border-collapse: collapse;
  margin: 5px;
  position: absolute;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  height: 41px;
  width: 41px;
}
